<article ng-controller="MinerDemoController">
    <h2>Blockchain </h2>

    <div class="card row">
        <div class="card-header">
            <h5>Beschreibung</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                In dieser Demo wird aufgezeigt, was der Inhalt der einzelnen Blöcke ist.
            </p>
        </div>
    </div>



    <div class="card row">
        <div class="card-header">
            <h5>Blockchain Browser & Blockinhalt</h5>
        </div>
        <div class="card-body">

            <p>
                Hier können Sie erforschen, was der Inhalt eines Blockes ist. Im Bitcoin System werden die Transaktionen, die zwischen den Wallets geschehen, in den Blöcken abgelegt.
            </p>

            <h6>Block # {{currentBlockHeight}}</h6>

            <div class="alert alert-info" role="alert">
                Bitte wählen Sie ein Block aus, indem Sie auf den Block klicken.
            </div>

            <div id="cyBlockchain" style="width:100%; height: 250px;"></div>

            <h6>Block Informationen</h6>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Erstellt durch Miner:</th>
                        <td>{{getMinerName(currentBlock.minedBy)}}</td>

                    </tr>
                    <tr>
                        <th scope="row">Nonce:</th>
                        <td>{{currentBlock.nonce}}</td>

                    </tr>
                    <tr>
                        <th scope="row">Hash:</th>
                        <td>{{currentBlock.hash}}</td>
                    </tr>

                    <tr>
                        <th scope="row">
                            Erhaltener Reward:
                        </th>
                        <td>
                            {{getBlockReward(currentBlock)}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Vorheriger Block:
                        </th>
                        <td>
                            {{getPreviousBlockHash(currentBlock)}}

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <p>
                Eine Transaktion setzt sich aus einem Sender, Empfänger und dem Betrag der Übermittelt wird zusammen. Weiterhin werden sogenannte UTXO angegeben, die der Sender übermittelt. UTXOs sind die Bitcoin Münzen, mit denen man zahlt.
            </p>

            <p>
                <h6>Transaktionen</h6>




                <table class="table table-bordered" id="tbl_transactions">
                    <thead>
                    <tr>
                        <th scope="col">Sender</th>
                        <th scope="col">Betrag</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Rückgeld</th>
                        <th scope="col">UTXOS</th>
                        <th scope="col">Empfänger</th>
                    </tr>
                    </thead>
                    <tbody id="tbl_transactions_body">
                    <tr  ng-repeat="transaction in currentBlock.transactions track by $index">
                        <td scope="row">{{getWalletName(transaction.from)}}</td>
                        <td class="utxo"><div style="width:50px;display:inline;">{{transaction.amount}}</div><img src="./images/BC_Logo.png" height="20px" width="20px" /></td>
                        <td class="utxo"><div style="width:50px;display:inline;">{{transaction.fee}}</div><img src="./images/BC_Logo.png" height="20px" width="20px" /></td>
                        <td class="utxo"><div style="width:50px;display:inline;">{{transaction.change}}</div><img src="./images/BC_Logo.png" height="20px" width="20px" /></td>

                        <td >
                            <div class="utxo" style="display:inline-block;" class="col" ng-repeat="utxo in transaction.utxos track by $index">
                              {{utxo.amount}}<img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </div>
                        </td>
                        <td>{{getWalletName(transaction.to)}}</td>
                    </tr>
                    </tbody>
                </table>
            </p>

            <p>
                Hier werden die aktuellen Guthaben aller Wallets aufgezeigt. Es ist anzumerken, dass der Kontostand der Wallets nicht in den Blöcken erfasst wird.
                Der Kontostand eines Wallets muss anhand aller Transaktionen, die vom Genesis Block bis zum aktuellen Block ausgeführt wurden, berechnet werden.
                Wie Sie sehen wenn Sie zwischen den Blöcken wechseln, werden die ausgegebenen UTXOs zerstört und neue UTXOs werden erstellt.
            </p>

            <p>
                <h6>Stand der Wallets</h6>
                <table class="table table-bordered" id="tbl_transactions">
                    <thead>
                    <tr>
                        <th>Addresse</th>
                        <th>Guthaben</th>
                        <th>Vorhandene UTXOS</th>
                        <th>Erhaltene UTXOS</th>
                        <th>Ausgegebene UTXOS</th>
                    </tr>
                    </thead>
                    <tbody id="tbl_transactions_body">
                    <tr  ng-repeat="state in walletStates track by $index">
                        <td>{{getWalletName(state.address)}}</td>
                        <td >
                            <div class="utxo" style="display:inline;">{{state.balance}}<img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </div>
                        </td>
                        <td >
                            <div class="utxo" style="display:inline-block;" class="col" ng-repeat="utxo in state.utxos track by $index">
                                {{utxo}}<img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </div>
                        </td>

                        <td >
                            <div class="utxo" style="display:inline-block;" class="col" ng-repeat="utxo in state.receivedUtxos track by $index">
                                {{utxo}}<img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </div>
                        </td>

                        <td >
                            <div class="utxo" style="display:inline-block;" class="col" ng-repeat="utxo in state.spentUtxos track by $index">
                                {{utxo.amount}}<img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </p>

        </div>
    </div>

    <nav >
        <ul class="pagination">
            <li class="page-item"><a class="page-link menu-item" href="#!/miner_demo">Zurück zu Mining</a></li>
            <li class="page-item"><a class="page-link menu-item" href="#!/network_demo">Weiter zum Blockchain-Browser</a></li>
        </ul>
    </nav>






</article>