input.ng-invalid-max {
    border: 2px dashed red;
}

input.ng-invalid-min {
    border: 2px dashed red;
}

.indexHead {
    min-height: 4rem;
    background-color: chocolate;
    padding-top: 10px;
    padding-left: 10px;
}

.indexHead img{
    height: 40px;
    padding-right: 10px;
}

header {
    margin-bottom: 30px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordion {
    margin-bottom: 20px;
}

.accordion > .card {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mb-0 > button:before {
    content: "+";
    font-weight: bolder;
    float: left;
    margin-right: 10px;
}
.mb-0 > button[aria-expanded="true"]:before {
    content: "-";
    font-weight: bolder;
}


.navbar a {
    color: black;
}

.navbar a:hover {
    border-bottom: 5px solid white;
}

.navbar a.active{
    color: white;
    border-bottom: 5px solid white;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.table {
    table-layout:fixed;
}

.table td {
    overflow: hidden;
    text-overflow: ellipsis;

}

.utxo {
    border: none;
    background-color: white;
}

.utxo > img {
    margin-left: 3px;
    margin-right: 5px;
}

.utxoList {
    display: inline-block;
}