input.ng-invalid-max {
    border: 2px dashed red;
}

.indexHead {
    min-height: 4rem;
    background-color: chocolate;
    padding-top: 10px;
    padding-left: 10px;
}

.indexHead img{
    height: 40px;
    padding-right: 10px;
}

header {
    margin-bottom: 30px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordion > .card {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    border-bottom: 5px solid white;
}

.navbar a.active{
    color: white;
    border-bottom: 5px solid white;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}