<article ng-controller="NetworkDemoController">

    <div class="card row">
        <div class="card-header">
            <h5>Was ist eine Blockchain?</h5>
        </div>
        <div class="card-body">

            <p class="card-text">
                send propagation
            </p>


            <p class="card-text">
                send invalid
                <button class=" btn btn-outline-primary" ng-click="sendValidBlock()">send valid Block</button>
            </p>


            <p class="card-text">
                send invalid
                <button class=" btn btn-outline-primary" ng-click="sendInvalidBlock()">send invalid Block</button>
            </p>


        </div>
    </div>


</article>