<article ng-controller="WalletDemoController">
    <h2>Bitcoin-Wallets & Transaktionen</h2>



    <div class="card row">
        <div class="card-header">
            <h5>Beschreibung</h5>
        </div>
        <div class="card-body">
            <p class="card-text">In dieser Demo wird aufgezeigt wie eine Wallet genutzt wird, um Bitcoins zu senden.</p>

            <p class="card-text">
                Um mit Bitcoin zu handeln benötigt man eine sogenannte Wallet-Applikation. In dieser Applikation werden die vorhandenen
                Bitcoins verwaltet. Über die Wallet können Zahlungen getätigt werden bzw. Bitcoins empfangen werden. Dabei wird in der Wallet-Applikation
                eine Bitcoin Adresse generiert. Diese Adresse ist im ganzen Bitcoin Netzwerk eindeutig und so kann eine Person bzw. ein Wallet identifiziert werden.
                Wenn nun Person A Bitcoins an Person B schicken will. Muss die Person A lediglich die Wallet Adresse von Person B kennen.
            </p>

            <div class="alert alert-info" role="alert">
                Bitte wählen Sie die Wallets aus, die in der Transaktion involviert sind.
            </div>

            <div class="row justify-content-md-center">
                <figure class="walletFigure col-auto text-center">
                    <img src="./images/walletIcon.png" height="50px" width="50px" alt="Wallet Icon"/>
                    <figcaption>
                        Wallet#<select name="txFromWallet" ng-model="currentWallet" ng-options="wallet.name for wallet in wallets " ></select>
                    </figcaption>
                </figure>

                <div class="col-auto"><img  src="./images/transactionSend.jpg" height="60px" width="120px"/></div>

                <figure class="walletFigure col-auto text-center">
                    <img src="./images/walletIcon.png" height="50px" width="50px"/>

                    <figcaption>
                        Wallet#<select name="txToWallet" ng-options="wallet.name for wallet in wallets | filter:{ name: '!'+currentWallet.name }" ng-model="toWallet"></select>
                    </figcaption>
                </figure>
            </div>

            <div class="alert alert-info" role="alert">
                Wallet von {{currentWallet.name}} besitzt ein Guthaben von {{(currentWallet|sumUtxos)}} Bitcoins.
            </div>
        </div>
    </div>

    <div class="card row">
        <div class="card-header">
            <h5 class="card-title">Wallet Applikation</h5>
        </div>
        <div class="card-body">

            <p class="card-text">
                In der Wallet App wird dem Benutzer eine Oberfläche
                zur Verfügung gestellt, in der er angeben kann, wie viel er dem Empfänger zusenden will. Jede Transaktion hat gewisse Transaktionsgebühren, diese können auch
                vom Walletbesitzer eingestellt werden. Je mehr Gebühren der Benutzer zu zahlen bereit ist, desto schneller wird die Transaktion verarbeitet.

                Zu diesem Thema wird in der Demo Mining und Konsens mehr erläutert.
            </p>
            <p class="card-text">Bitte geben Sie einen Betrag und die Gebühren ein:</p>

            <form name="txForm" >
                <div class="form-group">
                    <label for="txAmount">Betrag:</label>
                    <div class="input-group">
                        <input aria-describedby="amountHelp" class="form-control" id="txAmount"  ng-change="validateTransaction()"  ng-model="amount" type="number" min="1" step="0.01" max="{{(currentWallet|sumUtxos) - fee}}" required>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                   <img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </span>
                        </div>
                    </div>
                    <small id="amountHelp" class="form-text text-muted">Betrag zwischen 1 und {{(currentWallet|sumUtxos) - fee }} angeben</small>

                    <label for="txFee">Fee:</label>
                    <div class="input-group">
                        <input aria-describedby="feeHelp" class="form-control" id="txFee" ng-model="fee" ng-change="validateTransaction()" type="number" step="0.01" min="0" max="{{(currentWallet|sumUtxos) - amount}}" required>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                   <img src="./images/BC_Logo.png" height="20px" width="20px" />
                            </span>
                        </div>
                    </div>
                    <small id="feeHelp" class="form-text text-muted">Fee zwischen 0 und {{(currentWallet|sumUtxos) - amount }} angeben</small>
                </div>
            </form>
        </div>
    </div>


    <div class="card row">
        <div class="card-header">
            <h5 class="card-title">Interner Ablauf in der Wallet App</h5>
        </div>
        <div class="card-body">

            <p class="card-text">
                In der Wallet-Applikation wird eine Transaktion erstellt und anschliessend ins Bitcoin-Netzwerk versandt.
                Im folgenden Abschnitt wird visualisiert, wie die Wallet Applikation die Transaktion vorbereitet.
            </p>
            <p class="card-text">
                Die Wallet verwaltet eine Liste mit allen Bitcoins, die der Benutzer besitzt. Diese Bitcoins nennt man UTXO (unspent transaction output).
                Dabei handelt es sich um Bitcoins, die dem Wallet Besitzer zugesendet wurden. Man kann die UTXOs mit Münzen vergleichen.
                Die Wallet-Applikation benützt diese Münzen, um die Zahlung zu tätigen. Im Folgenden sehen die Liste der vorhandenen UTXOs.
            </p>

            <div class="alert alert-info" role="alert">
                Bitte wählen Sie die UTXOs aus mit denen bezahlt werden soll. Klicken Sie auf die entsprechenden UTXO Münzen.
            </div>

            <div class="row justify-content-md-center">
                <button class="utxo col-auto" ng-click="addToTransaction(utxo)" ng-repeat="utxo in currentWallet.utxos | filter:filterAlreadyAddedToTransaction track by $index  ">
                    {{utxo.amount}}<img src="./images/BC_Logo.png" height="20px" width="20px" />

                </button>
            </div>

            <div ng-if="(currentTransactionUtxos.length) > 0">
                <p class="card-text">
                    Eine Transaktion sieht wie folgt aus. Es gibt eine Liste von Eingangsmünzen und eine Liste von Empfängern mit dem entsprechenden Betrag, den diese erhalten.
                    Hier ist zu beachten, dass die Eingangs UTXO-Münzen, die zum Bezahlen verwendet werden, zerstört werden sobald die Transaktion angenommen wurde.
                    Somit ist es auch nicht möglich mehrmals mit der gleichen Münze zu zahlen. (mehr dazu in der Demo Mining und Konsens).

                </p>

                <div class="row justify-content-md-center">

                    <div class="col-2">
                        <button class="utxo"  ng-click="removeFromTransaction(utxo)" ng-repeat="utxo in currentTransactionUtxos track by $index">
                            {{utxo.amount}}<img src="./images/BC_Logo.png" height="20px" width="20px"/>
                        </button>
                    </div>

                    <div class="col-2 align-self-center">
                        <img src="./wallet_demo/images/arrow.jpg" height="50px"/>
                    </div>

                    <div class="col-3">
                        <figure ng-if="(amount) > 0" class="text-center">
                            <img src="./images/walletIcon.png" height="50px" width="50px" data-toggle="tooltip" data-placement="right" title="Diesem Wallet wird der Betrag überwiesen"/>

                            <figcaption class="utxo">
                                {{toWallet.name}} erhält {{amount}}<img src="./images/BC_Logo.png" height="20px" width="20px"/>
                            </figcaption>
                        </figure>
                        <figure ng-if="(fee) > 0" class="text-center" data-toggle="tooltip" data-placement="right" title="Der Miner erhält für seien Arbeit einen Fee als Reward">
                            <img src="./images/minerIcon.jpg" height="50px" width="50px"/>

                            <figcaption class="utxo">
                                Miner verdient {{fee}}<img src="./images/BC_Logo.png" height="20px" width="20px"/>  als Verarbeitungskosten
                            </figcaption>
                        </figure>

                        <figure ng-if="(currentTransactionAmount - amount - fee) > 1" class="text-center" data-toggle="tooltip" data-placement="right" title="Dem Absender wird der Überschuss als Rückgeld zurückgegeben">
                            <img src="./images/walletIcon.png" height="50px" width="50px"/>

                            <figcaption class="utxo">
                                {{currentWallet.name}} erhält {{currentTransactionAmount - amount - fee}}<img src="./images/BC_Logo.png" height="20px" width="20px"/> als Rückgeld
                            </figcaption>
                        </figure>


                    </div>



                    <div class="container" >

                        <div class="alert alert-warning" role="alert" ng-if="(txForm.$invalid === true || isTransactionValid === false)">
                            Bitte wählen Sie genügend UTXOs aus.
                        </div>

                        <div class="alert alert-info" role="alert" ng-if="(txForm.$invalid === false && isTransactionValid === true)">
                            Die Transaktion kann nun versendet werden. Bitte klicken Sie den sende Button.
                            Auf der linken Seite können Sie beobachten, wie die Transaktion versandet wird.
                        </div>

                        <div class="alert alert-success" role="alert" ng-if="wasTransactionSent">
                            Transaktion wurde erfolgreich versendet
                        </div>

                        <button class=" btn btn-outline-primary" ng-disabled="(txForm.$invalid === true || isTransactionValid === false)" ng-click="sendTransaction()">send Transaction</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card row">
        <div class="card-header">
            <h5 class="card-title">Weitere Informationen für Interessierte</h5>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">

                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Wie erhält mein die ersten Bitcoins?
                            </button>
                        </h5>



                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            aktueller preis
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Wie sind die Bitcoin Währungseinheiten definiert? (äquivalent zu Franken, Rappen)
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Wallet Addressen und wie Bitcoins geschützt werden
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                               Mehr zu Transaktionen, Fees und UTXOs
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading4">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Wie wird verhindert, dass UTXOs mehrmals ausgegeben werden? (Double spend)
                            </button>
                        </h5>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <nav >
        <ul class="pagination">
            <li class="page-item"><a class="page-link menu-item" href="#!/startpage_demo">Zurück zur Startseite</a></li>
            <li class="page-item"><a class="page-link menu-item" href="#!/miner_demo">Weiter zu Mining</a></li>
        </ul>
    </nav>

</article>