<article ng-controller="MinerDemoController">
    <h2>Miner </h2>

    <div class="card row">
        <div class="card-header">
            <h5>Beschreibung</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                In dieser Demo wird aufgezeigt wie Blöcke erstellt werden und wie eine Transaktion in einen Block integriert wird und somit abgesegnet wird.
            </p>

            <p>
                Ein Block wird von einem sogenannten Miner erstellt. Im Bitcoin-Netzwerk gibt es mehrere Miner und jeder kann ein Miner werden.
                Die Miner konkurrieren untereinander, um einen gültigen Block zu erstellen. Dabei muss die sogenannten Proof of Work (PoW) Challenge gelöst werden.
                Die Antwort dieser Aufgabe wird mit dem Block veröffentlich und alle Teilnehmer im Bitcoin-Netzwerk können die Antwort verifizieren und dadurch sicherstellen, ob der Miner den Block korrekt erstellt hat.
            </p>

            <p>Im folgenden Artikel werden diese Schritte genauer erläutert.</p>
        </div>
    </div>

    <div class="card row">
        <div class="card-header">
            <h5>Mempool</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                In der Wallet Demo wurde aufgezeigt, wie eine Transaktion ausgelöst wird. Sie haben gesehen, wie die Transaktion anschliessend ins Bitcoin-Netzwerk versandt wird.
                Dabei erhält jeder Teilnehmer im Netzwerk, die ausgelöste Transaktion. Die Miner sammeln diese Transaktionen im sogenannten Mempool.
            </p>
            <p>
                Jeder Miner hat seine individuelle Liste von Transaktionen in seinem Mempool, da die Transaktion über das Netzwerk publiziert werden und eventuell nicht alle Miner die Transaktionen erhalten.
                Bevor ein Miner die Transaktion in seinen Mempool aufnimmt überprüft er die Validität der Transaktion.
                Falls der Miner eine nicht valide Transaktion erhält wird diese verworfen. Ein Beispiel für eine nicht valide Transaktion wäre z.B., wenn ein Wallet nicht vorhandene Bitcoins (bzw. UTXOs) ausgeben möchte.

            </p>

            <div class="accordion" id="furtherInfoTransactionValidation">
                <div class="card">
                    <div class="card-header" id="txValidationInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#txValidationInfoText" aria-expanded="false" aria-controls="txValidationInfoText">
                                Mehr zur Validation einer Transaktion.
                            </button>
                        </h5>
                    </div>

                    <div id="txValidationInfoText" class="collapse" aria-labelledby="txValidationInfo" data-parent="#furtherInfoTransactionValidation">
                        <div class="card-body">
                            wallet signatur
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" role="alert">
                Bitte wählen Sie einen Miner aus, um dessen Mempool zu betrachten.
            </div>

            <figure class="col-auto text-center">
                <img src="./images/minerIcon.jpg" height="50px" width="50px" alt="Miner Icon"/>
                <figcaption>
                    Miner#<select ng-model="currentMiner" ng-options="miner.address for miner in miners " ></select>
                </figcaption>
            </figure>


            <div class="container" style="padding:10px 10px;">
                <h4>Mempool vom Miner {{currentMiner.address}}</h4>
                <table class="table table-bordered" id="tbl_mempool">
                    <thead>
                    <tr>
                        <th>Von</th>
                        <th>An</th>
                        <th>Betrag</th>
                        <th>Fee</th>
                    </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                        <tr ng-repeat="transaction in currentMiner.mempool track by $index">
                            <td>{{transaction.from}}</td>
                            <td>{{transaction.to}}</td>
                            <td>{{transaction.amount}} <img src="./images/BC_Logo.png" height="20px" width="20px" /></td>
                            <td>{{transaction.fee}} <img src="./images/BC_Logo.png" height="20px" width="20px" />   </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" ng-click="removeFromMempool($index)">Entfernen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class=" btn btn-outline-primary" ng-click="generateTransaction(currentMiner)">Zufällige Transaktionen generieren</button>
                <button type="button" class=" btn btn-outline-primary" ng-click="generateTransactionForAllMiners()">Für alle Miner Transaktionen generieren.</button>

            </div>
        </div>
    </div>

    <div class="card row">
        <div class="card-header">
            <h5>Candidate Block & Block erstellung</h5>
        </div>
        <div class="card-body">

            <p class="card-text">
                Aus den Transaktionen, die sich im Mempool befinden, kann sich der Miner beliebig viele auswählen und in ein Block integrieren. Der Block, der durch einen Miner in Bearbeitung ist, nennt man Candidate Block.
                Dabei setzt sich der Blockinhalt aus einer Auflistung von Transaktionen und einigen weiteren Informationen zusammen. Nachfolgend sieht man den Inhalt eines solchen Candidate Blockes.

            </p>

            <div class="accordion" id="furtherInfoCandidateBLock">
                <div class="card">
                    <div class="card-header" id="candidateBlockInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#candidateBlockInfoText" aria-expanded="false" aria-controls="candidateBlockInfoText">
                                Wie werden die Transaktionen ausgewählt?
                            </button>
                        </h5>
                    </div>

                    <div id="candidateBlockInfoText" class="collapse" aria-labelledby="candidateBlockInfo" data-parent="#furtherInfoCandidateBLock">
                        <div class="card-body">
                            Eine Transaktion beinhaltet eine Verarbeitungsgebühr die sogenannte Fee. Den Fee kann sich der Miner zuschreiben, wenn er die Transaktion in den Block aufnimmt.
                            Daher werden die Transaktionen mit den grössten Fees bevorzugt und am schnellsten in die Blockchain aufgenommen.
                            Bei Bitcoin gibt es jedoch eine Beschränkung der Blockgrösse, diese darf 1MB nicht überschreiten und dadurch ist die Anzahl der möglichen Transkationen innerhalb eines Blockes beschränkt.

                        </div>
                    </div>
                </div>
            </div>

            <p>
                Im Block wurde eine spezielle Transaktion hinzugefügt, die nicht im Mempool ist. Diese Transaktion nennt man Coinbase Transaktion.
                Es handelt sich dabei, um die Transaktion, bei der sich der Miner den Reward und die Fee überweist.
            </p>

            <div class="accordion" id="furtherInfoCoinbase">
                <div class="card">
                    <div class="card-header" id="coinbaseInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#coinbaseInfoText" aria-expanded="false" aria-controls="coinbaseInfoText">
                                Was beinhaltet die Coinbase Transaktion?
                            </button>
                        </h5>
                    </div>

                    <div id="coinbaseInfoText" class="collapse" aria-labelledby="coinbaseInfo" data-parent="#furtherInfoCoinbase">
                        <div class="card-body">
                            <p>
                                Bei der Coinbase Transaktion wird der Reward für die Blockgenerierung plus die Summe aller Fees der Transaktionen, die sich im Block befinden, zugeschrieben.
                                TODO Reward
                                Ausgeben nach TODO confirmations
                            </p>
                            <table class="table table-bordered" id="tbl_coinbase">
                                <thead>
                                <tr>
                                    <th>An</th>
                                    <th>Reward + Fees</th>
                                </tr>
                                </thead>
                                <tbody id="tbl_coinbase_body">
                                <tr>
                                    <td>
                                        <figure class="col-auto">
                                            <img src="./images/minerIcon.jpg" height="50px" width="50px" alt="Miner Icon"/>
                                            <figcaption>
                                                Miner#{{currentMiner.address}}
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>{{getCoinbaseReward(currentMiner.mempool); }} <img src="./images/BC_Logo.png" height="20px" width="20px" />   </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <p>
                Damit der Block nun gültig wird und in die Blockchain aufgenommen werden kann muss der sogenannte Proof of Work geleistet werden.
                Dabei handelt es sich, um eine Aufgabe auf der eine Antwort gefunden werden muss.
                Dazu werden die zwei Felder Nonce und Hash, die in der unteren Visualisierung des Candidate Blockes aufgelistet sind, benötigt.
            </p>
            <p>
                Die Antwort auf den  Proof of Work wird ermittelt, indem der Hash des Blockes generiert wird. Falls dieser mit einer bestimmten Anzahl von 0 beginnt, wurde eine gültige Antwort gefunden.
                Hier wurde definiert, dass ein Hash mit mindestens zwei Nullen beginnen muss, für eine gültige Antwort.
            </p>

            <div class="accordion" id="furtherInfoPow">
                <div class="card">
                    <div class="card-header" id="HashInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#HashInfoText" aria-expanded="false" aria-controls="HashInfoText">
                                Was ist eine Hash Funktion?
                            </button>
                        </h5>
                    </div>

                    <div id="HashInfoText" class="collapse" aria-labelledby="HashInfo" data-parent="#furtherInfoPow">
                        <div class="card-body">

                            <p>
                                TODO
                            </p>

                            <p>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Text:</span>
                                    </div>
                                    <input class="form-control" type="text" id="txHashText" ng-model="hashText">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Hash:</span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="{{getHash(hashText);}}" readonly>
                                </div>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="PoWInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#PoWInfoText" aria-expanded="false" aria-controls="PoWInfoText">
                                Wie wird die Antwort auf den Proof of Work gefunden?
                            </button>
                        </h5>
                    </div>

                    <div id="PoWInfoText" class="collapse" aria-labelledby="PoWInfo" data-parent="#furtherInfoPow">
                        <div class="card-body">
                            TODO
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8 offset-md-2 border border-dark" style="margin-bottom: 20px;">
                <div class="row justify-content-md-center">
                    Canidate Block
                </div>
                <div class="row border-top justify-content-md-center">
                    Gemined durch: Miner#{{currentMiner.address}}
                </div>
                <div class="row border-top">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-2">Coinbase</div>
                            <div class="col-2">
                                <img  src="./images/transactionSend.jpg" height="30px" width="80px" />
                            </div>
                            <div class="col-2">{{currentMiner.address}}</div>
                        </div>
                        <div ng-repeat="transaction in currentMiner.mempool">
                            <div class="row justify-content-md-center">
                                <div class="col-2">{{transaction.from}}</div>
                                <div class="col-2">
                                    <img  src="./images/transactionSend.jpg" height="30px" width="80px"/>
                                </div>
                                <div class="col-2">{{transaction.to}}</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row border-top justify-content-md-center">Nonce: {{currentMiner.candidateBlock.nonce}}</div>
                <div class="row border-top justify-content-md-center">

                    Hash: {{currentMiner.candidateBlock.hash}}
                </div>
            </div>

            <p class="alert alert-success" role="alert" ng-if="validBlockFound">
                Herzlichen Glückwunsch ein gültiger Block wurde gemined.
            </p>

            <p class="alert alert-info" role="alert" ng-if="currentMiner.mempool.length > 0 && !isMiningInProgress() && !validBlockFound">
                Bitte starten Sie den Mining Prozess.
            </p>

            <p class="alert alert-warning" role="alert" ng-if="currentMiner.mempool.length === 0">
                Bitte Transaktionen für aktuellen Miner generieren, damit Mining gestartet werden kann.
            </p>

            <div>
                <button type="button" class=" btn btn-outline-primary" ng-click="generateTransaction(currentMiner)">Zufällige Transaktionen generieren</button>
                <button type="button" class=" btn btn-outline-primary" ng-disabled="currentMiner.mempool.length === 0 && isMiningInProgress()" ng-click="startToMineBlock()">Mining starten</button>
            </div>

        </div>
    </div>


    <div class="card row">
        <div class="card-header">
            <h5>Mining Competition & Konsensbildung</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Im Bitcoin Netzwerk konkurrieren die Miner untereinander, um einen Block zu generieren. Dabei sind sie motiviert durch den Reward und die Fees.
                Nach dem ein Block gefunden wurde, wird dieser im Netzwerk publiziert. Die Teilnehmer im Bitcoin Netzwerk empfangen den Block und hängen diesen an ihre lokale Blockchain an.
                Dabei wird vorhergehend überprüft, ob alle Transaktionen valide sind und die PoW Antwort korrekt ist.
                Somit kann die Blockchain synchronisiert werden, obwohl alle Teilnehmer im Netz die Blockchain lokal bei sich pflegen. Durch das Lösen des PoW wurde ein Konsens zwischen den Teilnehmer gefunden.

            </p>

            <div class="row">
                <div ng-repeat="miner in miners" class="container" >

                    <p  class="row">
                        <div ng-class="{'border-success':  candidateBlocks[miner.address].isValid}" class="border input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Canidate Block vom Miner {{miner.address}}:</span>
                            </div>
                            <input class="form-control" type="text" id="" placeholder="{{candidateBlocks[miner.address].hash}}">
                        </div>

                    </p>

                </div>
            </div>


            <div class="row align-items-center justify-content-md-center">
                <div >
                    <img src="./images/block.png"/>
                </div>
                <div >
                    <img src="./images/chain.jpg"/>
                </div>
                <div >
                    <img src="./images/block.png"/>
                </div>

                <div ng-if="isMiningInProgress() || miningCompetitionFinished">
                    <div class="align-items-center">
                        <div >
                            <img src="./images/chain.jpg"/>
                            <img src="./images/block.png"/>
                            <span ng-if="forkResolved">
                                <img src="./images/chain.jpg"/>
                                <img src="./images/block.png"/>
                                 <span class="alert alert-info" role="alert">
                                    Gewinner
                                </span>
                            </span>
                            <span ng-if="isMiningInProgress();">
                                <span class="spinner-grow text-info" role="status" aria-hidden="true"></span>
                                Mining
                            </span>
                        </div>

                    </div>
                    <div class="align-items-center"  ng-if="forkOccured === true || forkResolved === true">
                        <div >
                            <img src="./images/chain.jpg"/>
                            <img src="./images/block.png"/>
                            <span ng-if="isMiningInProgress();">
                                <span class="spinner-grow text-info" role="status" aria-hidden="true"></span>
                                Mining
                            </span>
                        </div>

                    </div>
                </div>
             </div>

            <div class="accordion" id="furtherInfoConsense" style="margin-top: 20px;">
                <div class="card">
                    <div class="card-header" id="CompetitionInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#CompetitionInfoText" aria-expanded="false" aria-controls="CompetitionInfoText">
                                Mining Competition
                            </button>
                        </h5>
                    </div>

                    <div id="CompetitionInfoText" class="collapse show" aria-labelledby="CompetitionInfo" data-parent="#furtherInfoConsense">
                        <div class="card-body">
                            <p>Bei der Competition konkurrieren  die Miner untereinander, um einen gültigen Block zu finden.</p>


                            <p class="alert alert-warning" role="alert" ng-if="!checkIfTransactionsArePresent()">
                                Bitte neue Transaktionen generieren damit Mining gestartet werden kann.
                            </p>

                            <button type="button" class=" btn btn-outline-primary" ng-click="generateTransactionForAllMiners()">Transaktionen generieren.</button>
                            <button type="button" class=" btn btn-outline-primary" ng-disabled="!checkIfTransactionsArePresent() || isMiningInProgress()" ng-click="startToMiningCompetition(1)">Mining starten</button>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="ForkInfo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ForkInfoText" aria-expanded="false" aria-controls="ForkInfoText">
                                Forks
                            </button>
                        </h5>
                    </div>

                    <div id="ForkInfoText" class="collapse" aria-labelledby="ForkInfo" data-parent="#furtherInfoConsense">
                        <div class="card-body">
                            <p>
                                Im Laufe der Mining Competition und Konsensbildungs, kann es zu Forks in der Blockchain kommen.
                                Dabei werden zwei Blöcke beinahe zur selben Zeit gefunden. Somit stellt sich die Frage, wo der nächste Block angehängt werden soll.
                            </p>

                            <p class="alert alert-info" role="alert" ng-if="!forkOccured && !forkResolved">
                                Bitte erzwingen Sie einen Fork.
                            </p>

                            <p ng-if="forkOccured">
                                Die Miner können frei wählen, wo Sie weiterfahren wollen. Nachdem ein Miner wieder ein Block findet, wird ein Fork aufgelöst, da dieser Block auf einer der zwei vorhergehenden Blöcke verweist.
                                Dadurch fällt der Block weg, auf dem nicht verwiesen wird.
                            </p>

                            <p class="alert alert-success" role="alert" ng-if="forkResolved">
                                Herzlichen Glückwunsch der Fork wurde aufgelöst.
                            </p>

                            <p class="alert alert-warning" role="alert" ng-if="!checkIfTransactionsArePresent()">
                                Bitte neue Transaktionen generieren damit Mining gestartet werden kann.
                            </p>

                            <button type="button" class=" btn btn-outline-primary" ng-click="generateTransactionForAllMiners()">Transaktionen generieren.</button>
                            <button type="button" class=" btn btn-outline-primary" ng-disabled="!checkIfTransactionsArePresent() || isMiningInProgress() || forkOccured" ng-click="startToMiningCompetition(2)">Fork erzwingen</button>
                            <button type="button" class=" btn btn-outline-primary" ng-disabled="!checkIfTransactionsArePresent() || isMiningInProgress() || !forkOccured" ng-click="startToMiningCompetition(1)">Fork auflösen</button>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="card row">
        <div class="card-header">
            <h5>PoW Retargeting</h5>
        </div>
        <div class="card-body">

            <p class="card-text">

            </p>

            <form>
                <div class="form-group">
                    <label for="formControlRange">Mining PoW Difficulty  {{difficulty}}</label>
                    <input type="range" min="1" max="10" class="form-control-range" ng-model="difficulty" id="formControlRange" ng-change="calculateMinutesUntilValidHashFound()">
                </div>

                <div class="form-group">
                    <label for="formControlRange">Hash rate (hash/sekunde)</label>
                    <input type="number" ng-model="hashesPerSeconds" id="hashRate" ng-change="calculateMinutesUntilValidHashFound()">
                </div>

                <div>
                    {{secondsUntilHashFound}} sekunden
                </div>

                <div>
                    {{hashPowerNeededFor10Min}} hashes/sekunde
                </div>
            </form>


        </div>
    </div>


    <div class="card row">
        <div class="card-header">
            <h5 class="card-title">Weitere Informationen für Interessierte </h5>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                TODO
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav >
        <ul class="pagination">
            <li class="page-item"><a class="page-link menu-item" href="#!/wallet_demo">Zurück zu Wallet & Transaktionen</a></li>
            <li class="page-item"><a class="page-link menu-item" href="#!/blockchain_demo">Weiter zum Blockchain-Browser</a></li>
        </ul>
    </nav>



</article>