<article ng-controller="StartpageController">
    <h2>Blockchain </h2>

    <div class="card row">
        <div class="card-header">
            <h5>Beschreibung</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                In dieser Demo werden die grundlegenden Informationen zu der Blockchain-Technologie aufgezeigt.
                Weiterhin wird beschrieben, wie die Bitcoin Blockchain aufgebaut ist und was sie beinhaltet.
            </p>
        </div>
    </div>

    <div class="card row">
        <div class="card-header">
            <h5>Was ist eine Blockchain?</h5>
        </div>
        <div class="card-body">
            <p>
                Wie der Name schon aussagt, handelt es sich bei einer Blockchain, um eine Kette von Blöcken.
                Folgende Visualisierung zeigt eine Blockchain mit 4 Blöcken auf.


            <div class="row align-items-center justify-content-md-center">
                <div ng-repeat="i in [1,2,3]">
                    <img src="./images/blockWithChain.jpg"/>
                </div>
                <div >
                    <img src="./images/block.png"/>
                </div>
            </div>
            </p>


            <p class="card-text">
                Die Verkettung der Blöcke wird gebildet indem ein Block auf den vorhergehenden Block
                anhand seines Hashwertes verweist. Es stellt sich die Frage was ist ein Hashwert.
                Der Hashwert wird anhand einer Hashfunktion gebildet. Bei Bitcoin verwendet man die SHA256 Hashfunktion
                Diese Funktion bildet aus einem Input eine 64-stellige Zeichenfolge, der sogenannte Hashwert bzw. Hash.

                Eine Spezielle Eigenschaft des Hashwertes ist, dass anhand des Hashwertes nicht ermittelt werden kann,
                was der Input Text ist.

                Die Hashfunktion und löst bei Bitcoin das Problem
                Mehr zu den Miner erfahren Sie in der Demo <b>TODO</b>.
            </p>
            <p>
                Folgend wird aufgezeigt, was die Hashfunktione macht.
                Dabei ist der berechnete Hashwert für einen Input-Text immer einzigartig.
            </p>

            <p>
                Bitte ändern Sie den Text um den entsprechenden Hashwert zu generieren.
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Text:</span>
                </div>
                <input class="form-control" type="text" id="txHashText" ng-model="hashText">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Hash:</span>
                </div>
                <input class="form-control" type="text" placeholder="{{getHash(hashText);}}" readonly>
            </div>

            </p>

        </div>
    </div>

</article>